html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .is-truncated {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.is-truncated {
  overflow:hidden;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.h-80 {
  height: 80px!important;
}
.mt-80 {
  margin-top: 80px!important;
}
.mt-150 {
  margin-top: 150px!important;
}
.w-100 {
  width: 100%!important;
}
.preview {
  height: 300px;
  width: 200px;
  overflow: hidden;
}
.preview-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.cart {
  position: relative;
}
.badge {
  position: absolute;
  right: 35px;
}
.cursor-pointer {
  cursor: pointer;
}