html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .is-truncated {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
.is-truncated {
  overflow:hidden;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h-80 {
  height: 80px!important;
}
.mt-80 {
  margin-top: 80px!important;
}
.mt-150 {
  margin-top: 150px!important;
}
.mt--20 {
  margin-top: -40px!important;
}
.w-100 {
  width: 100%!important;
}
.w-80 {
  width: 80px;
}
.preview {
  height: 300px;
  width: 200px;
  overflow: hidden;
}
.preview-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.card-perso:hover .card {
  background-color: #ebeef9!important;

}
.cart {
  position: relative;
}
.badge {
  position: absolute;
  right: 35px;
}
.cursor-pointer {
  cursor: pointer;
}
.card {
  height: 617.5px!important;
}
.card-content {
  height: 100%!important;
}
.content-perso {
  height: 184px!important;
}
.btn-plus {
  padding-left: 13px!important;
  padding-right: 13px!important;
}
.btn-moins {
  padding-left: 15px!important;
  padding-right: 15px!important;
}
.image-cart {
  margin:0;
  width: 70px;
  overflow: hidden;
}
.img-cart {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.br-3 {
  border-radius: 3px;
}